# Map, Filter, Reduce

Map, filter and reduce are paradigms of functional programming. They allow the programmer to write simpler, shorter code without necessarily needing to bother about intricacies like loops and branching

Essentially, these three functions allow you to apply a function across a number of iterables, in one fill swoop. Map and filter come built-in with python(in the _builtins_ module) and require no importing.

**Reduce** , however, needs to be imported as it resides in the functools module.

## Map

The map() function in python has the following syntax

    map(func, *iterables)

Where func is the function on which each element in iterables(as many as they are) would be applied on.

Important point to note:

1: In python2, the map() function returns a list. In python 3, however, the function returns a map object which is a generator object. To get the result as a list, the built-in list() function can be called on the map object. **list(map(func, *iterables
))**

2. The number of arguments to **func** must be the number of **iterables** listed

### Example:

### Use case : say i have a list (iterable) of my favourite pet name, all in lower case and I need them in upper case.

#### Traditionally, in normal pythoning, I would do something like this:

In [1]:
my_pets = ['alfred','tabitha','william','arla']

In [2]:
uppered_pets = []

In [3]:
for pet in my_pets:
    pet_ = pet.upper()
    uppered_pets.append(pet_)

In [4]:
print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

In [5]:
print(my_pets)

['alfred', 'tabitha', 'william', 'arla']

#### With map() functions, its not only easier, but it's also much more flexible. we can do this.

In [6]:
my_pets =['alfred','tabitha','william','arla']

In [7]:
uppered_pets = list(map(str.upper, my_pets))

In [8]:
print(uppered_pets)

['ALFRED', 'TABITHA', 'WILLIAM', 'ARLA']

**What's more important to note is that the str.upper function requires only one argument by definition and so we passed just one iterable to it. So, if the function we are looking requires two, or three or n arguments, then we need to pass in two, three and n iterables to it.**

### Use case 2:  

**I have a list of circle areas that i calculated somewhere, all in five decimal places. And i need to round each element in the list up to its position decimal places, meaning that i have to round up the first element in the list to one decimal places, the second element in the list to two decimal places**

*Tips : Python already blesses us with the round() built-in function that takes two arguments-- the number to round up and the number of decimal places to round the number upto. so since the function requires two arguments, we need to pass in two iterables.

In [9]:
circle_areas = [3.56773, 5.57668, 4.00914, 56.24241, 9.01344, 32.00013]

In [10]:
result = list(map(round,circle_areas, range(1,7)))

In [11]:
print(result)

[3.6, 5.58, 4.009, 56.2424, 9.01344, 32.00013]

The range(1,7) function acts as the second argument to the round function/

In [12]:
result1 = list(map(round,circle_areas, range(1,3)))

In [13]:
print(result1)

[3.6, 5.58]

### Use case 3:

In [14]:
my_strings = ['a', 'b', 'c', 'd', 'e']

In [15]:
my_numbers = [1,2,3,4,5]

In [16]:
results = list(zip(my_strings, my_numbers))

In [17]:
print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

**Another way to do same with lambda**

In [18]:
my_strings = ['a', 'b', 'c', 'd', 'e']

In [19]:
my_numbers = [1,2,3,4,5]

In [20]:
results = list(map(lambda x, y: (x, y), my_strings, my_numbers))

In [21]:
print(results)

[('a', 1), ('b', 2), ('c', 3), ('d', 4), ('e', 5)]

## Filter

While map() passes each element in the iterable through a function and returns the result of all elements having passed through the function

filter(), first of all, requires the function to return boolean values(true or false) and then passes each element in the iterable through the function. "Filtering" away those that are false. It has the following syntax

    filter(func, iterable)

The following points are to be noted regarding **filter()**

    1. Unlike map(), only one iterable is required
    2. The func argument is required to return a boolean type. If it doesnt, filter simply returns the iterable passed to it. Also as only one iterable is required, its implicit that func must only take one argument.
    3. filter passes each element in the iterable through func and returns only the ones that evaluate to true. I mean it's right there in the name --a "filter"

#### Use case 1:

The following is a list (iterable) of the scores of 10 students in a chemistry exam. Let's filer out those who passed with scores more than 75 .. using filter.

In [73]:
scores = [66, 90, 68, 59, 76, 60, 88, 74, 81, 65]

In [74]:
def is_a_student(score):
    return score > 75

In [77]:
over_75 = list(filter(is_a_student,scores))

In [78]:
print(over_75)

[90, 76, 88, 81]

In [30]:
is_a_student

In [60]:
values1=(is_a_student(1))

In [61]:
values1

False

In [62]:
values1=(is_a_student(76))

In [63]:
values1

True

In [85]:
values1=list(filter(is_a_student,scores))

In [86]:
values1

[90, 76, 88, 81]

#### Use case 2:

The next example will be a palindrome detector. A "palindrome" is a word, phrase, or sequence that reads the same backwards as forwards. Let's filter out words that are palindromes from a tuple(iterable) of suspected palindromes

In [32]:
dromes = ("demigod", "rewire", "madam", "freer", "anutforajaroftuna", "kiosk")

In [33]:
palindromes = list(filter(lambda word: word == word[::-1], dromes))

In [34]:
print(palindromes)

['madam', 'anutforajaroftuna']

In [52]:
string1 = "madam"

In [53]:
string1[::-1]

'madam'

In [54]:
string1==string1[::-1]

True

In [55]:
string1 = "demigod"

In [56]:
string1[::-1]

'dogimed'

In [57]:
string1==string1[::-1]

False

## Reduce:

**reduce** applies a function of two arguments cumulatively to the elements of an iterable, optionally starting with an initial argument. It has the following syntax

    reduce(func, iterabe[, initial])

In [87]:
from functools import reduce

In [88]:
numbers = [3, 4, 6, 9, 34, 12]

In [89]:
def custom_sum(first, second):
    return first + second

In [90]:
result = reduce(custom_sum, numbers)

In [91]:
print(result)

68

As usual, it's all about iterations: reduce takes the first and second elements in numbers and passes them to custom_sum respectively. custom_sum computes their sum and returns it to reduce. reduce then takes that result and applies it as the first element to custom_sum and takes the next element (third) in numbers as the second element to custom_sum. It does this continuously (cumulatively) until numbers is exhausted.

In [92]:
result = reduce(custom_sum, numbers,10)

In [93]:
print(result)

78

The result, as you'll expect, is 78 because reduce, initially, uses 10 as the first argument to custom_sum.

#### Exercise:

Question:

In [ ]:
from functools import reduce 

# Use map to print the square of each numbers rounded
# to two decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]

# Use filter to print only the names that are less than 
# or equal to seven letters
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]

# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]

# Fix all three respectively.
map_result = list(map(lambda x: x, my_floats))
filter_result = list(filter(lambda name: name, my_names, my_names))
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers, 0)

print(map_result)
print(filter_result)
print(reduce_result)

Solution:

In [94]:
from functools import reduce

In [95]:
# Use map to print the square of each numbers rounded
# to two decimal places
my_floats = [4.35, 6.09, 3.25, 9.77, 2.16, 8.88, 4.59]

In [96]:
# Use filter to print only the names that are less than 
# or equal to seven letters
my_names = ["olumide", "akinremi", "josiah", "temidayo", "omoseun"]

In [97]:
# Use reduce to print the product of these numbers
my_numbers = [4, 6, 9, 23, 5]

In [102]:
# Fix all three respectively.
map_result = list(map(lambda x: round(x**2,2), my_floats))

In [103]:
print(map_result)

[18.92, 37.09, 10.56, 95.45, 4.67, 78.85, 21.07]

In [110]:
filter_result = list(filter(lambda name: len(name)<=7, my_names))

In [111]:
print(filter_result)

['olumide', 'josiah', 'omoseun']

In [106]:
from functools import reduce

In [107]:
def product_two_number(first,second):
    return first*second

In [108]:
reduce_result = reduce(product_two_number, my_numbers)

In [109]:


print(reduce_result)

24840

In [112]:
reduce_result = reduce(lambda num1, num2: num1 * num2, my_numbers)

In [113]:
print(reduce_result)

24840