# Easy Ways To Create Pandas Series – The Ultimate Guide

Pandas series is the most important part of the data structure. Pandas series can be defined as a column in excel sheet. We can create series by using SQL database, CSV files, and already stored data. There are many ways to create a series in pandas but, we are going to practices in these two ways.

1. With ndarray or numpy array
2. With Python Dictionary

![Pandas-Series.png](image/Pandas-Series.png)

## 1. What is pandas series?

A series in pandas can be thought to be the fundamental piece of data structure. It is basically nothing but a one-dimensional array-like structure, which can be used to handle and manipulate data. What makes it special is its index attribute, which has incredible functionality and is heavily mutable.

### Parameters in pandas series:

1. <b>data:</b> This the value you want your series to possess.
2. <b>index:</b> This is the index related to the value you use for the series.
3. <b>dtype:</b> This specifies the type of values in the series.
4. <b>copy:</b> This copies the data which was input.

In [1]:
import pandas as pd

## 2. How to create a pandas series?

In [2]:
dataflair_arr = pd.Series([2,3,-4,6])

In [3]:
dataflair_arr

0    2
1    3
2   -4
3    6
dtype: int64

### 2.1 Create a series with ndarray or numpy array

In [4]:
import numpy as np

In [5]:
npa = np.array(['d','a','t','a'])

In [6]:
dataflair_ar= pd.Series(npa)

In [7]:
dataflair_ar

0    d
1    a
2    t
3    a
dtype: object

The first line creates the numpy array and the second line turns the array into pandas series

### 2.2 Create a series from a python dictionary

We can create a series from python dictionaries , to do this we first need to create a dictionary:

In [8]:
dataflair_dict = { 'Delhi': 12.9, 'Mumbai': 8.4, 'Kolkata': 9.7 }

To turn this dictionary into a pandas series, all we have to do is:

In [9]:
dataflair_arr3= pd.Series(dataflair_dict)

In [10]:
dataflair_arr3

Delhi      12.9
Mumbai      8.4
Kolkata     9.7
dtype: float64

## 3. How to change the index of pandas series?

For indexing in pandas series, first  we will create a list.

In [12]:
num=['n1','n2','n3','n4']

In [13]:
num

['n1', 'n2', 'n3', 'n4']

In [15]:
dataflair_arr2= pd.Series([4,5,-2,2], index=num)

In [16]:
dataflair_arr2

n1    4
n2    5
n3   -2
n4    2
dtype: int64

In [17]:
dataflair_arr2A= pd.Series([4,5,-2,2])

In [18]:
dataflair_arr2A

0    4
1    5
2   -2
3    2
dtype: int64

## 4. How to perform mathematical operations on a series?

If you want to check the value to a corresponding index, simply use the following command

In [19]:
dataflair_arr2['n2']

5

We can use parameters to filter values in a series. For this, let’s take the following example:

In [21]:
dataflair_arr2>2

n1     True
n2     True
n3    False
n4    False
dtype: bool

In [20]:
dataflair_arr2[dataflair_arr2>2]

n1    4
n2    5
dtype: int64

What does this mean? This basically is telling the series that you want a list of all the values that are greater than 2.

In [25]:
'n3' in dataflair_arr2

True

### Example of Mathematical operations on Pandas Series

In [26]:
dataflair_arr2*5

n1    20
n2    25
n3   -10
n4    10
dtype: int64

## 5. Demonstration of missing values